.col{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/contactb-g.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
}
.form-control{
    background: transparent;
    
}
footer {
    background-color:rgba(52, 58, 57, 0.329);
    color: black;
    text-align: center;
    height: 200px;
    font-weight: bolder;
}
.input{
    padding-left: 870px;
}
.mmmm{
    margin-left: 50px;
}
.images{
    align-items: center;
}
.page{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bg-3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: lavenderblush;
}
.jumbotron{
    font-weight: 5000;
    font-size: 1800;
    text-align: center;
    background-color:#96bb7c ;
    color: black;

}
.nnn{
    margin-right: 50px; 
}
.form-control{
    width:100% ;
}
.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    margin-top: 5px;
}
.nav{
    border: 5px solid black;
}